@model HMS.Models.LabMachine

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LabMachine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedAt" />
            <div class="form-group">
                <label asp-for="LabCode" class="control-label"></label>
                <input asp-for="LabCode" class="form-control" />
                <span asp-validation-for="LabCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineName" class="control-label"></label>
                <input asp-for="MachineName" class="form-control" />
                <span asp-validation-for="MachineName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceId" class="control-label"></label>
                <input asp-for="DeviceId" class="form-control" />
                <span asp-validation-for="DeviceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<HMS.Models.Enums.LabMachineStatus>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
