<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-area="Dashboard" asp-controller="Dashboard" asp-action="Index">
            <i class="fas fa-home"></i>
            Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Dashboard" asp-controller="Users" asp-action="Index">
            <i class="fas fa-users"></i>
            Users
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Dashboard" asp-controller="Topics" asp-action="Index">
            <i class="fas fa-book"></i>
            Topics
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Dashboard" asp-controller="LabMachines" asp-action="Index">
            <i class="fas fa-desktop"></i>
            Lab Machines
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Dashboard" asp-controller="Exams" asp-action="Index">
            <i class="fas fa-file-alt"></i>
            Exams
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Dashboard" asp-controller="Questions" asp-action="Index">
            <i class="fas fa-question-circle"></i>
            Questions
        </a>
    </li>
    <!-- Add more dashboard links here -->
</ul>
