/* CSS HEX */
--forest-green: #03941fff;
--black-forest: #034b11ff;
--evergreen: #03270aff;
--black: #020202ff;
--carbon-black: #222222ff;
--gunmetal: #414141ff;
--dim-grey: #616161ff;
--grey: #808080ff;
--silver: #bfbfbfff;
--white: #fdfdfdff;

/* CSS HSL */
--forest-green: hsla(132, 96%, 30%, 1);
--black-forest: hsla(132, 92%, 15%, 1);
--evergreen: hsla(132, 86%, 8%, 1);
--black: hsla(0, 0%, 1%, 1);
--carbon-black: hsla(0, 0%, 13%, 1);
--gunmetal: hsla(0, 0%, 25%, 1);
--dim-grey: hsla(0, 0%, 38%, 1);
--grey: hsla(0, 0%, 50%, 1);
--silver: hsla(0, 0%, 75%, 1);
--white: hsla(0, 0%, 99%, 1);

/* SCSS HEX */
$forest-green: #03941fff;
$black-forest: #034b11ff;
$evergreen: #03270aff;
$black: #020202ff;
$carbon-black: #222222ff;
$gunmetal: #414141ff;
$dim-grey: #616161ff;
$grey: #808080ff;
$silver: #bfbfbfff;
$white: #fdfdfdff;

/* SCSS HSL */
$forest-green: hsla(132, 96%, 30%, 1);
$black-forest: hsla(132, 92%, 15%, 1);
$evergreen: hsla(132, 86%, 8%, 1);
$black: hsla(0, 0%, 1%, 1);
$carbon-black: hsla(0, 0%, 13%, 1);
$gunmetal: hsla(0, 0%, 25%, 1);
$dim-grey: hsla(0, 0%, 38%, 1);
$grey: hsla(0, 0%, 50%, 1);
$silver: hsla(0, 0%, 75%, 1);
$white: hsla(0, 0%, 99%, 1);

/* SCSS RGB */
$forest-green: rgba(3, 148, 31, 1);
$black-forest: rgba(3, 75, 17, 1);
$evergreen: rgba(3, 39, 10, 1);
$black: rgba(2, 2, 2, 1);
$carbon-black: rgba(34, 34, 34, 1);
$gunmetal: rgba(65, 65, 65, 1);
$dim-grey: rgba(97, 97, 97, 1);
$grey: rgba(128, 128, 128, 1);
$silver: rgba(191, 191, 191, 1);
$white: rgba(253, 253, 253, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #03941fff, #034b11ff, #03270aff, #020202ff, #222222ff, #414141ff, #616161ff, #808080ff, #bfbfbfff, #fdfdfdff);
$gradient-right: linear-gradient(90deg, #03941fff, #034b11ff, #03270aff, #020202ff, #222222ff, #414141ff, #616161ff, #808080ff, #bfbfbfff, #fdfdfdff);
$gradient-bottom: linear-gradient(180deg, #03941fff, #034b11ff, #03270aff, #020202ff, #222222ff, #414141ff, #616161ff, #808080ff, #bfbfbfff, #fdfdfdff);
$gradient-left: linear-gradient(270deg, #03941fff, #034b11ff, #03270aff, #020202ff, #222222ff, #414141ff, #616161ff, #808080ff, #bfbfbfff, #fdfdfdff);
$gradient-top-right: linear-gradient(45deg, #03941fff, #034b11ff, #03270aff, #020202ff, #222222ff, #414141ff, #616161ff, #808080ff, #bfbfbfff, #fdfdfdff);
$gradient-bottom-right: linear-gradient(135deg, #03941fff, #034b11ff, #03270aff, #020202ff, #222222ff, #414141ff, #616161ff, #808080ff, #bfbfbfff, #fdfdfdff);
$gradient-top-left: linear-gradient(225deg, #03941fff, #034b11ff, #03270aff, #020202ff, #222222ff, #414141ff, #616161ff, #808080ff, #bfbfbfff, #fdfdfdff);
$gradient-bottom-left: linear-gradient(315deg, #03941fff, #034b11ff, #03270aff, #020202ff, #222222ff, #414141ff, #616161ff, #808080ff, #bfbfbfff, #fdfdfdff);
$gradient-radial: radial-gradient(#03941fff, #034b11ff, #03270aff, #020202ff, #222222ff, #414141ff, #616161ff, #808080ff, #bfbfbfff, #fdfdfdff);